
<%def name="login_box()">
% if not get_cookie('customer'):
<div class="sidebar-box">
    <div class="login">
        <p><small></small></p>
        <a class="btn btn-default btn-md" href="/join" role="button">立即注册</a> 
        <p><small>已有账号请<a href="/auth/login">登陆</a></small> <small><a href="/password/mail">忘记密码</a></small></p>
    </div>
</div>
% endif
</%def>

<%def name="user_box()">
% if  get_cookie('customer'):

% endif
</%def>

<%def name="qrcode_box()">
 % if sys_param_value('weixin_qrcode') :
<div class="sidebar-box">
  <h4 class="list-group-item"><i class="fa fa-qrcode"></i> 微信公众号</h4>
  <hr>
  <div class="img-center"><img src="${sys_param_value('weixin_qrcode')}"></div>
</div>
% endif
</%def>

<%def name="service_box()">
<div class="sidebar-box">
<h4 class="list-group-item"><span class="fa fa-comments"></span> 客服信息</h4>
<hr>
<div class="list-group">
  % if sys_param_value('service_qq') :
  % for qq in sys_param_value('service_qq').split(','):
  <a href="javascript:void();" class="list-group-item">客服QQ:${qq}</a>   
  % endfor 
  % endif
  % if sys_param_value('service_phone') :
  % for phone in sys_param_value('service_phone').split(','):
  <a href="javascript:void();" class="list-group-item">客服电话:${phone}</a>   
  % endfor 
  % endif
</div>
</div>

</%def>

